*,
*::before,
*::after {
    box-sizing: border-box;
}
/* management of title and container */
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/* panel of container */
.container {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    overflow: hidden;
    align-items: flex-start;
}


/* mini div */
.mini {
    display: flex;
    border: 2px solid black;
    flex: 1 0 ;
    min-width: 16px;
    min-height: 16px;
}
